    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Kameron', sans-serif;
    }
    
    .navbar {
        background: maroon;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        position: sticky;
        top: 0;
        z-index: 999;
    }
    
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 50px;
    }
    
    #navbar__logo {
        background-color: #422d2c;
        background-image: linear-gradient(to top, #000000 0%, #532222 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
    }
    
    .fa-fire {
        margin-right: 0.5rem;
    }
    
    .navbar__menu {
        display: flex;
        align-items: center;
        list-style: none;
        text-align: center;
    }
    
    .navbar__item {
        height: 80px;
    }
    
    .navbar__links {
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 0 1rem;
        height: 100%;
    }
    
    .navbar__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        width: 100%;
    }
    
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 10px 20px;
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 4px;
        background: white;
        color: black;
    }
    
    .button:hover {
        background: #532222;
        transition: all 0.3s ease;
    }
    
    .navbar__links:hover {
        color: whitesmoke;
        transition: all 0.3s ease;
    }
    
    @media screen and (max-width: 960px) {
        .navbar_container {
            display: flex;
            justify-content: space-between;
            height: 80px;
            z-index: 1;
            width: 100%;
            max-width: 1300px;
            padding: 0;
        }
        .navbar__menu {
            display: grid;
            grid-template-columns: auto;
            margin: 0;
            width: 100%;
            position: absolute;
            top: -1000px;
            opacity: 0;
            transition: all 0.5s ease;
            height: 60vh;
            z-index: -1;
            background: #a36262;
        }
        .navbar__menu.active {
            background: #422d2c;
            top: 100%;
            opacity: 1;
            transition: all 0.5s ease;
            z-index: 99;
            height: 50vh;
            font-size: 1.6rem;
        }
        #navbar__logo {
            padding-left: 25px;
        }
        .navbar__toggle .bar {
            width: 25px;
            height: 3px;
            margin: 5px auto;
            transition: all 0.3s ease-in-out;
            background: #FFF;
        }
        .navbar__item {
            width: 100%;
        }
        .navbar__links {
            text-align: center;
            padding: 2rem;
            width: 100%;
            display: table;
        }
        #mobile-menu {
            position: absolute;
            top: 20%;
            right: 5%;
            transform: translate(5%, 20%);
        }
        .navbar__btn {
            padding-bottom: 2rem;
        }
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 80px;
            margin: 0;
        }
        .navbar__toggle .bar {
            display: block;
            cursor: pointer;
        }
        #mobile-menu.is-active .bar:nth-child(2) {
            opacity: 0;
        }
        #mobile-menu.is-active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        #mobile-menu.is-active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
    
    .main {
        background-color: #422d2c;
    }
    
    .main__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        height: 90vh;
        background-color: #422d2c;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0 50px;
    }
    
    .main__content h1 {
        font-size: 4rem;
        background-color: #af9391;
        background-image: linear-gradient(to top #ac6576 0%, #e09a85 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
    
    .main__content h2 {
        font-size: 4rem;
        background-color: #80565380;
        background-image: linear-gradient(to top #4d3138 0%, #ffffff 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
    
    .main__content p {
        margin-top: 1rem;
        font-size: 2rem;
        font-weight: 700;
        color: whitesmoke;
    }
    
    .training {
        font-size: 1rem;
        background-image: linear-gradient(to top, #e0e0e0 0%, #5e2b3f 100%);
        padding: 14px 32px;
        color: white;
        border: none;
        border-radius: 4px;
        color: #fff;
        margin-top: 2rem;
        cursor: pointer;
        position: relative;
        transition: all 0.35s;
        outline: none;
    }
    
    .training a {
        position: relative;
        z-index: 2;
        color: white;
        text-decoration: none;
    }
    
    .training:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #fc2121;
        transition: all 0.35s;
        border-radius: 4px;
    }
    
    .training:hover {
        color: #FFF;
    }
    
    .training:hover:after {
        width: 100%;
    }
    
    .main_img-container {
        text-align: center;
    }
    
    #main-img {
        height: 80%;
        width: 80%
    }
    
    @media screen and (max-width:768px) {
        .main__container {
            display: grid;
            grid-template-columns: auto;
            align-items: center;
            justify-self: center;
            width: 100%;
            margin: 0 auto;
            height: 90vh;
        }
        .main__content {
            text-align: center;
            margin-bottom: 4rem;
        }
        .main__content h1 {
            font-size: 2.5rem;
            margin-top: 2rem;
        }
        .main__content h2 {
            font-size: 3rem;
        }
        .main__content p {
            margin-top: 1rem;
            font-size: 1.5rem;
        }
    }
    
    @media screen and (max-width: 480px) {
        .main__content h1 {
            font-size: 2rem;
            margin-top: 3rem;
        }
        .main__content h2 {
            font-size: 3rem;
        }
        .main__content p {
            margin-top: 1rem;
            font-size: 1.5rem;
        }
        .training {
            padding: 12px 36px;
            margin: 2.5rem 0;
        }
    }
    
    .services {
        background: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }
    
    .services h1 {
        background-color: white;
        background-image: linear-gradient(to right, grey 0%, rgb(151, 137, 137) 0%, whitesmoke 21%, #6b6060 52%, #b34343 78%, #727171 100%);
        background-size: 100%;
        margin-bottom: 5rem;
        font-size: 2.5rem;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
    
    .services__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .Services_card {
        margin: 1rem;
        height: 525px;
        width: 400px;
        border-radius: 4px;
        background-image: url('/Gallery/1c3f38d2-6ad0-4de2-a624-7806b18b6446.jpeg');
        background-size: cover;
        position: relative;
        color: #fff;
        align-items: center;
    }
    
    .Services_card:nth-child(2) {
        background: url('/Gallery/forest.jpeg');
    }
    
    .services h2 {
        position: absolute;
        top: 350px;
        left: 30px;
    }
    
    .Services_card p {
        position: absolute;
        top: 400px;
        left: 30px;
    }
    
    .Services_card button {
        color: #FFF;
        padding: 10px 20px;
        border: none;
        outline: none;
        border-radius: 4px;
        background: #fc2121;
        position: absolute;
        top: 485px;
        left: 145px;
        font-size: 1rem;
        cursor: pointer;
    }
    
    .Services_card:hover {
        transform: scale(1.075);
        transition: 0.2s ease-in;
        cursor: pointer;
    }
    
    @media screen and (max-width: 980px) {
        .services {
            height: 1600px;
        }
        .services h1 {
            font-size: 2rem;
            margin-top: 12rem;
        }
    }
    
    @media screen and (max-width: 490px) {
        .services {
            height: 1400px;
        }
        .services h1 {
            font-size: 1.2rem;
        }
        .Services_card {
            width: 300px;
        }
    }
    
    .footer_container {
        background-color: #422d2c;
        padding: 0.2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #footer-logo {
        color: #FFF;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
    }
    
    .footer__links {
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footer_links_wrapper {
        display: flex;
    }
    
    .footer_links_items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 16px;
        text-align: left;
        width: 160px;
        box-sizing: border-box;
    }
    
    .footer_links_items h2 {
        margin-bottom: 16px;
    }
    
    .footer_links_items>h2 {
        color: #FFF;
    }
    
    .footer_links_items a {
        color: #FFF;
        text-decoration: none;
    }
    
    .footer_links_items a:hover {
        color: white;
        transition: 0.3s ease-out;
    }
    
    .website_rite {
        color: wheat;
        font-size: medium;
    }
    
    @media screen and (max-width: 820px) {
        .footer__links {
            padding-top: 2rem;
        }
        #footer-logo {
            margin-bottom: 2rem;
        }
        .website_rite {
            margin-bottom: 2rem;
        }
        .footer_links_wrapper {
            flex-direction: column;
        }
    }
    
    @media screen and (max-width: 480px) {
        .footer_links_items {
            margin: 0;
            padding: 10px;
            width: 100%;
        }
    }
    
    .AboutUs {
        padding: 50px 0;
        background-color: #885a5a;
    }
    
    .AboutUsContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .AboutContent {
        width: 40%;
        margin-right: 20px;
    }
    
    .ATitle h1 {
        color: #333;
    }
    
    .AboutContents h3 {
        color: #333;
    }
    
    .AboutContents p {
        color: #c4a3a3;
        line-height: 1.6;
    }
    
    .button a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #851818;
        color: #a888af;
        text-decoration: none;
        border-radius: 5px;
        background: #c42121;
        cursor: pointer;
    }
    /* Social handles styles */
    
    .socialhandle a {
        margin-top: 100px;
        margin-right: 10px;
        color: #530853;
        text-align: center;
    }
    
    .AboutImage {
        height: 50%;
        width: 100px;
    }